<h2>New Movie</h2>

<form action="/movies" method="post">
	<label>Movie <input type="text" name="movie_name"></label>
    <label>Poster URL <input type="text" name="movie_poster"></label>
	<label>Runtime <input type="text" name="movie_runtime"></label>
	<label> IMDb-Score <input type="text" name="movie_imdb"></label>
	<input type="submit" value="Submit">
</form>